@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f3f3f3;
}

@layer utilities {
  .ft-13 {
    font-size: 13px;
    opacity: 70%;
  }
  
  .mt-14 {
    margin-top: 14px;
  }
  
  .pointer:hover {
    cursor: pointer;
  }
  
  .input:focus {
    border: 2px #0070f3 solid !important;
  }
  
  .tag-link {
    border: none;
    margin-top: 3px !important;
  }
  
  .tag-link:hover {
    color: #0070f3 !important;
  }
  
  .tag-link:active {
    color: #0070f3 !important;
  }
  
  .contain {
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
  }
  
  .desk-m-l-100 {
    margin-left: 100px;
  }
  
  .padding-none {
    padding: 0 !important;
  }
  
  .pull-right {
    float: right !important;
  }
  
  .d-none {
    display: none;
  }
  
  .head-social a:hover {
    cursor: pointer;
  }
  
  .link:hover {
    cursor: pointer;
  }
  
  .hover-p:hover {
    cursor: pointer !important;
  }
  
  .avatarImg {
    border-radius: 25px;
  }
  
  .userAvatarImg {
    border-radius: 50%;
  }
  
  .xl-h {
    display: none;
  }
  
  .xl-s {
    display: block;
  }
  
  .sidebar {
    max-width: 240px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-subitem-text {
    font-size: 0.8rem;
  }
  
  .only-desk-mt20 {
    margin-top: 20px;
  }
  
  .QTags {
    width: 500px;
  }
}

@layer components {
  .custom-btn {
    @apply mt-1 h-10 text-white rounded-full px-6 font-medium bg-transparent cursor-pointer transition-all duration-300 relative inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .btn-11 {
    @apply border-none text-white overflow-hidden;
    background: #3bb78f;
    background: linear-gradient(0deg, #0bab64 0%, #3bb78f 100%);
  }
  
  .btn-11:before {
    @apply absolute inline-block top-[-180px] left-0 w-8 h-full bg-white;
    content: "";
    animation: shiny-btn1 3s ease-in-out infinite;
  }
  
  .btn-11:hover {
    opacity: 0.7;
  }
  
  .btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  .ask {
    width: 40%;
  }
}

/* Responsive Design */
@media screen and (max-width: 1280px) {
  .md-h {
    display: none;
  }
  .md-s {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .sm-h {
    display: none;
  }
  .sm-s {
    display: block;
  }
  .QTags {
    width: auto;
  }
  .ask {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .div-mt {
    margin-top: 30px;
  }
  .xs-h {
    display: none;
  }
  .xs-s {
    display: block;
  }
  .contain {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
  .desk-m-l-100 {
    margin-left: 0;
  }
  .sm-flex-1 {
    flex-grow: 1 !important;
  }
  .sm-fontsize-11 {
    font-size: 11px !important;
  }
  .sm-fontsize-14 {
    font-size: 14px !important;
  }
  .sm-order-1 {
    order: 1 !important;
  }
  .sm-order-2 {
    order: 2 !important;
  }
  .sm-order-3 {
    order: 3 !important;
  }
  .sm-order-4 {
    order: 4 !important;
  }
  .only-desk-mt20 {
    margin-top: 0px !important;
  }
  .ask {
    width: 100%;
  }
}

/* Progress Bar */
#nprogress .bar {
  background: #20565c !important;
}

#nprogress .spinner-icon {
  display: none !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
}

@media screen and (max-width: 600px) {
  #nprogress .bar {
    background: #fff !important;
  }
}